<!-- ================= Primary Header ================= -->
<mat-toolbar color="primary" class="main-toolbar">
  <button mat-icon-button routerLink="/login">
    <mat-icon>home</mat-icon>
  </button>

  <span class="app-title">Consumer APP</span>

  <span class="example-spacer"></span>
</mat-toolbar>


<!-- ================= Secondary Navigation ================= -->
<mat-toolbar class="sub-toolbar">
  <button
    mat-raised-button
    color="primary"
    routerLink="/consumer-fields"
    routerLinkActive="active-button">
    Fields
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-content-type-groups"
    routerLinkActive="active-button">
    Content Type Groups
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-content-type-groups-by-id"
    routerLinkActive="active-button">
    Content Type Groups By Id
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-content-types"
    routerLinkActive="active-button">
    Content Types
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-data-object-queries"
    routerLinkActive="active-button">
    Data Object Queries
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-data-object-queries-by-id"
    routerLinkActive="active-button">
    Data Object Queries By Id
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-execute-data-object-queries"
    routerLinkActive="active-button">
    Execute Data Object Queries
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-standard-search"
    routerLinkActive="active-button">
    Standard Search
  </button>

    <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/get-connections"
    routerLinkActive="active-button">
    Connections
  </button>

  <button style="margin-left: 10px;"
    mat-raised-button
    color="primary"
    routerLink="/consumer-system-integrations"
    routerLinkActive="active-button">
    Integrations
  </button>
</mat-toolbar>

<!-- ================= Page Content ================= -->
<div class="page-container" style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>
