.main-toolbar {
  height: 64px;
  margin-bottom: 8px;
}

.sub-toolbar {
  height: 56px;
  background: hsl(106, 60%, 72%);
  display: flex;
  align-items: center;
  padding-left: 16px;
}

/* Make button stand out */
.sub-toolbar button {
  font-weight: 600;
  border-radius: 50px;
}

/* Active route highlight */
.active-button {
  box-shadow: 0 0 0 2px #b53f3f66;
}
